<html ng-app="bulletinApp">
<head>
	<title>Bulletin</title>

	<script type="text/javascript" src="js/ng/angular.js"></script>
	<script type="text/javascript" src="js/ng/angular-resource.js"></script>

	<script type="text/javascript" src="js/bulletin.js"></script>
</head>

<body>
	<div ng-controller="PostController">
		<h1>{{heading}}</h1>

        <form>
            Title: <input type="text" ng-model="newPost.title"/><br/>
            Body: <input type="text" ng-model="newPost.body"/><br/>
            <button ng-click="addPost()">Add Post</button>
        </form>

		<ul>
			<li ng-repeat="post in posts">
				<h3>{{post.title}}</h3>
				<p>{{post.body}}</p>
			</li>
		</ul>
	</div>
</body>
</html>